body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: #0073e6;
    color: white;
    padding: 20px;
}

section {
    margin: 20px;
}

#about img {
    width: 150px;
    border-radius: 50%;
}

ul {
    list-style: none;
    padding: 0;
}

.project img {
    width: 100px;
    height: auto;
}
